html,body{height: 100%;}

*{
    margin: 0;
    padding: 0;
}

.mainName {
    line-height:1.0;
    padding-top: 10px;
    padding-bottom: 40px;
    font-family: 'Climate Crisis', cursive;
    font-family: 'East Sea Dokdo', cursive;
}

.question {
    padding-bottom: 20px;
}

.container {
    width: 500px;
    height: 100%;
    margin: auto;
    text-align: center;
    border-left: 1px solid black;
    border-right: 1px solid black;
    background-color: rgb(170, 210, 249);
}

#mainButton {
    width: 180px;
    height: 50px;
    object-fit: cover;
    font-size:30px;
    color: white;
    line-height: 50px;
    text-align: center;
    background: #3b8c9a;
    border: solid 2px grey;
    border-radius: 10px;
    bottom: 20px;
    margin: auto;
    display: block;
}

.image {
    width: 400px;
    height: auto;
}

.gong {
    width: 400px;
    height: 100px;
}

.selectImage {
    width: 100px;
    height: auto;
}

.selectPeople {
    width: 180px;
    height: auto;
}

.container {
    display: grid;
}
